@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(25, 25, 201, 0.25);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 7px;
  transition-delay: .2s;
  transition: all .8s cubic-bezier(0.42, 0, 0, 0.79);
  margin: 4px;
}
::-webkit-scrollbar-track{
  background: gray;


}
::-webkit-scrollbar-thumb{
  background: rgba(25, 25, 201, 0.25);
  transition-delay: .2s;
  transition: all .8s cubic-bezier(0.42, 0, 0, 0.79);
  border-radius: 20px;
  margin: 4px;

}